<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    opacity: 0.95;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover {
    background-color: #fe424d;
    color: white;
    opacity: 1;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input {
    border-radius: 25px;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid position-relative">
    <!-- Left: Brand -->
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass"></i
    ></a>

    <!-- Centered search (md and up) -->
    <form
      class="d-none d-md-flex position-absolute start-50 translate-middle-x"
      role="search"
      style="width: 420px; max-width: 55%"
    >
      <input
        class="form-control me-2 search-input"
        type="search"
        placeholder="Search destinations"
        aria-label="Search"
      />
      <button class="btn btn-search" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>Search
      </button>
    </form>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left: links -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Mobile search (only shows < md) -->
      <form class="d-flex d-md-none my-2" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- Right: actions -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add New Listing</a>
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
